/*
background: rgb(247,89,89);
background: linear-gradient(130deg, rgba(247,89,89,1) 0%, rgba(243,85,135,1) 100%);
*/
@import url('http://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand';
    background:#1b1e4b;
}

.wrap {
    width: 100%;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
  
.text-wrap, .login-wrap {
    width: 50%; 
}
@media (max-width: 991.98px) {
    .text-wrap, .login-wrap {
        width: 100%; 
    } 
}
.reset-warp {
    width: 100%;
    background-color: #fff;
}
  
.text-wrap {
    background: #f75959;
    background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
    color: #fff; 
}
  
.login-wrap {
    position: relative;
    background: #fff; 
}
  
.form-control {
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
}
.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important; }
.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.07);
    border-color: transparent; 
}

.button-form {
    color: #fff; 
    background: #f75959;
    background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px; 
    border-color: white;
}

.button-form:hover {
    background: #fafafa;
    border-color: #f75959;
    color: black;
    transition: all 0.2s ease-in-out;
}

.button-link {
    background: transparent;
    color: #fff; 
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px; 
    border-color: white;
}

.button-link:hover {
    background: #fafafa;
    border-color: #f75959;
    color: black;
    transition: all 0.25s ease-in-out;
}

a,a:hover,a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; 
    color: gray;
}

.term-of-use a,a:hover,a:focus{
    color: #f35587;
    color: linear-gradient(135deg, #f75959 0%, #f35587 100%);
}


.Container-Checkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
  
/* Hide the browser's default checkbox */
.Container-Checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    border-radius: 7px;
    position: absolute;
    top: 2px;
    left: 3px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
  
/* On mouse-over, add a grey background color */
.Container-Checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a #f35588 background */
.Container-Checkbox input:checked ~ .checkmark {
    background-color: #f35588;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.Container-Checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.Container-Checkbox .checkmark:after {
    left: 7px;
    top: 4px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.duplicate {
    color: crimson;
    font-size: 15px;
}

.eye-password {
    position: relative; 
    top: -24px; 
    right: 4%; 
    cursor: pointer;
}

