@import url('http://fonts.cdnfonts.com/css/sofia-pro');

html,
body {
    font-family: 'Sofia Pro', sans-serif;
    color: #f9f9f9;
    background:#10122d;
    position: relative;
}

#show-price {
    font-size: 5.5vw;
    position: absolute;
    left: 50%;
    /*top: 425px;*/
    top: 22vw;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-shadow: 2px 2px 5px #000000;
}

#show-detail {
    font-size: 4vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    /*top: 530px;*/
    top: 27vw;
    z-index: 9;
    text-shadow: 2px 2px 0px #000000;
}

.detail-24change {
    font-size: 1vw;
    display: inline-block;
    position: relative;
    left: -18px;
}

.show-symbol{
    font-size: 1.2vw;
    position: relative;
    top: -15px;
    left: -3px;
}

.coin-icon{
    width: 3.5vw; 
    height: 3.5vw; 
    margin-top: -15px;
}

#priceChange {
    text-shadow: 0px 0px 0px #000000;
    border: whitesmoke;
}

#percentChange {
    text-shadow: 0px 0px 0px #000000;
    border: whitesmoke;
}

.FadeIn {
    -webkit-animation: fadein 0.45s linear forwards;
    animation: fadein 0.45s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
}

@keyframes fadein {
  100% { opacity: 1; }
}

.nav-overtop{
    background-color: rgba(0,0,0,0);
    z-index: 9;
}

.swiper {
    width: 100%;
    /*height: 870px;*/
    height: 45vw;
    margin-top: -56px;
}

/* swiper img responsive */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-img-move {
    margin-top: 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #f9f9f9;
}

.swiper-button-white {
    color: white;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}