@import url('http://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap%27');

html,
body {
    font-family: 'Quicksand';
    color: #f9f9f9;
    background:#10122d;
    overflow: overlay;
}

#show-price {
    font-size: 5.5vw;
    position: absolute;
    left: 50%;
    /*top: 425px;*/
    top: 22vw;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-shadow: 2px 2px 5px #000000;
}

#show-detail {
    font-size: 4vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    /*top: 530px;*/
    top: 27vw;
    z-index: 9;
    text-shadow: 2px 2px 0px #000000;
}

.detail-24change {
    font-size: 1vw;
    display: inline-block;
    position: relative;
    left: -18px;
}

.show-symbol{
    font-size: 1.2vw;
    position: relative;
    top: -1.5vw;
    left: -3px;
}

.coin-icon{
    width: 3.5vw; 
    height: 3.5vw; 
    margin-top: -1vw;
}

#priceChange {
    font-weight: 700;
    text-shadow: 0px 0px 0px #000000;
}

#percentChange {
    font-weight: 700;
    text-shadow: 0px 0px 0px #000000;
}

.FadeIn {
    -webkit-animation: fadein 0.45s linear forwards;
    animation: fadein 0.45s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
}

@keyframes fadein {
  100% { opacity: 1; }
}

.nav-overtop{
    background-color: rgba(0,0,0,0);
    z-index: 9;
}

.swiper {
    width: 100%;
    /*height: 870px;*/
    height: 45vw;
    margin-top: -56px;
}

/* swiper img responsive */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-img-move {
    margin-top: 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    background-color: #f9f9f9;
}

.swiper-button-white {
    color: white;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* scrollbar */
::-webkit-scrollbar{
    width: 26px;
    height: 26px;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}

* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
}
button.learn-more {
    width: 12rem;
    height: auto;
}
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(78, 117, 241);
    border-radius: 1.625rem;
}
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
button:hover .circle {
    width: 100%;
}
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
button:hover .button-text {
    color: #fff;
}
