@import url('http://fonts.cdnfonts.com/css/sofia-pro');

html,
body {
    font-family: 'Sofia Pro', sans-serif;
    color: #f9f9f9;
    background:#10122d;
    position: relative;
}

.mini-symbol {
    width: 24px;
    height: 24px;
}

.show-select-symbol {
    width: 24px;
    height: 24px;
}

/* Selectbox customs */
.dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 42px;
    text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0px 1px 10px 10px;
    overflow: auto;
    display: none;
    max-height: 170px;
    overflow-y: auto;
    z-index: 9;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/* Scrollbar customs */
::-webkit-scrollbar{
    width: 26px;
    height: 26px;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
.dropdown .dropdown-menu::-webkit-scrollbar{
    width: 22px;
    background-color: whitesmoke;
}
.dropdown .dropdown-menu::-webkit-scrollbar-thumb{
    border-radius: 11px;
    background-clip: padding-box;
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px;
}