@import url('http://fonts.cdnfonts.com/css/sofia-pro');

html,
body {
    font-family: 'Sofia Pro', sans-serif;
    color: #f9f9f9;
    background:#10122d;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.thai-font {
    font-family: 'Pind';
    font-size: 20px;
}

.mini-symbol {
    width: 24px;
    height: 24px;
}

.btn-buy {
    color: #f9f9f9;
    width: 100%;
    background-color: rgb(35, 155, 45);
}
.btn-buy:hover {
    color: #f9f9f9;
    background-color: #30c230 ;
}

.btn-sell {
    color: #f9f9f9;
    width: 100%;
    background-color: rgb(180, 25, 25);
}
.btn-sell:hover {
    color: #f9f9f9;
    background-color: rgb(238, 59, 59);
}

.btn-div {
    cursor: default;
    width: 100%;
    color: #f9f9f9;

}

.link {
    color: #F0B90B;
    text-decoration: none;
}

.link:hover {
    color: #F0B90B;
    text-decoration: none;
}

.head-column {
    font-size: 20px;
    padding-left: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    border-radius: 5px;
}

.left-span {
    border-radius: 5px 0 0 5px;
}

.right-span {
    border-radius: 0 5px 5px 0;
}

/* Selectbox customs Limit & Market */
.span-select:hover {
    cursor: pointer;
    color: #F0B90B;
}
.span-selected {
    color:#F0B90B;
}
.span-unselect{
    color: #f9f9f9;
}

.dropdown {
    width: 100%;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 42px;
    text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0px 1px 10px 10px;
    display: none;
    max-height: 170px;
    overflow: hidden;
    overflow-y: scroll;
    z-index: 9;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}

/* Scrollbar customs */
::-webkit-scrollbar {
    width: 26px;
    height: 26px;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
.dropdown .dropdown-menu::-webkit-scrollbar {
    width: 22px;
    background-color: white;
    border-radius: 0 0 10px 0;
}
.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-clip: padding-box;
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px;
}

/* Range slider */

.range-slider {
    margin: 0 0 0 0%;
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #F0B90B;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #F0B90B;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #F0B90B;
}
.range-slider__range:active::-moz-range-thumb {
    background: #F0B90B;
}
.range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #F0B90B;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}

/* Input type number Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.enableSelect {
    -webkit-touch-callout: all; /* iOS Safari */
      -webkit-user-select: all; /* Safari */
       -khtml-user-select: all; /* Konqueror HTML */
         -moz-user-select: all; /* Old versions of Firefox */
          -ms-user-select: all; /* Internet Explorer/Edge */
              user-select: all; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


/* Bootstrap tooltip */
.tooltip-inner {
    color: #fff;
    background-color: #f55;
    box-shadow: 0px 0px 4px black;
    opacity: 1;
}


.form-control:focus, .form-control:active {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #f9f9f9; 
}
