@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap%27');

body {
    font-family: 'Quicksand';
    background:#10122d;
    position: relative;
    overflow: overlay;
    scrollbar-color: white;
}
.card {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: #d9d9e6;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 26px;
    height: 26px;
}
::-webkit-scrollbar-thumb {
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}