@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap%27');

body {
    font-family: 'Quicksand';
    color: #ffffff;
    background-color: #1b1e4b
}

.form-control:focus {
    box-shadow: none;
    border-color: red;
}

.profile-button {
    background: dodgerblue;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #e72323
}

.profile-button:focus {
    background: #e72323;
    box-shadow: none
}

.profile-button:active {
    background: #277331;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 18px
}

.add-experience:hover {
    background: #dadbcf;
    color: yellow;
    cursor: pointer;   
    border: solid 1px #fc1a1a8f
}

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-color: #000;
    border-radius: 25px;
    transition: 0.15s;
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }