body{
    background-color:#10122d;
    overflow:hidden;
  }
  h1{
    transition:500ms;
    text-align:center;
    width:100%;
    position:absolute;
    color:#10122d;
    opacity:0.3;
  }
 
  
  .topRight{
    position:absolute;
    top:5.9%;
    right:0%;
    height:100%;
    width:50%;
    transition:800ms;
  }
  .topLeft{
    position:absolute;
    top:5.9%;
    left:0%;
    height:100%;
    width:50%;
    transition:800ms;
  }
  .bottomRight{
    position:absolute;
    bottom:0%;
    right:0%;
    height:50%;
    width:50%;
    transition:800ms;
  }
  .bottomLeft{
    position:absolute;
    bottom:0%;
    left:0%;
    height: 50%;
    width:50%;
    transition:800ms;
  }
  .topLeft:hover,.topRight:hover,.bottomLeft:hover,.bottomRight:hover{
    cursor:pointer;
  }
  .topLeft:hover > h1,
  .topRight:hover > h1,
  .bottomLeft:hover > h1,
  .bottomRight:hover > h1{
    opacity:1;
  }